asgiref==3.11.1
attr==0.3.2
Brotli==1.0.9
brotlicffi==1.2.0.1
chardet==4.0.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.18.1
docutils==0.18.1
filelock==3.25.1
h2==4.3.0
HTMLParser==0.0.2
importlib_metadata==8.0.0
importlib_metadata==7.0.1
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
js==1.0
keyring==24.3.1
protobuf==4.25.3
pyodide==0.0.2
pyOpenSSL==24.2.1
pyOpenSSL==25.3.0
python-dotenv==1.2.2
redis==7.3.0
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
watchdog==4.0.1
xmlrpclib==1.0.1
